<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    #navbar-custom{
        background-color:#003D7B ;
        font-weight:bold ;
    }
    #navbar-custom a{
        color:#fff ;
    }
    #navbar-custom a:hover{
        background-color:#D07221 !important;
    }
    .welcome{
        float:right;
        color:#003D7B;!important;
        font-family:Century Gothic;
        font-weight:bold;
    }
    .btn-link{
        color:#003D7B !important;
        font-weight:bold !important;
</style>
<body>
<div th:insert="~{admin/index :: adminheader}"></div>
<div class="container" style="margin-top:30px">
    <form class="form-horizontal" th:action = "@{/admin/course/{page}/save/{id}(page = ${page}, id=${id})}"
          th:object="${course}" method="post">
        <div class="input-group mb-3 input-group-md">
            <div class="input-group-prepend">
                <label for="courseCode" class="input-group-text">Course code: </label>
            </div>
            <input type="text" class="form-control" th:field="*{courseCode}" id="courseCode"><br>
            <p th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"></p>
        </div>
        <div class="input-group mb-3 input-group-md">
            <div class="input-group-prepend">
                <label for="courseName" class="input-group-text">Course name: </label>
            </div>
            <input type="text" class="form-control" th:field="*{courseName}" id="courseName"><br>
            <p th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></p>
        </div>
        <div class="input-group mb-3 input-group-md">
            <div class="input-group-prepend">
                <label for="courseUnit" class="input-group-text">Number of module unit: </label>
            </div>
            <input type="number" class="form-control" th:field="*{courseUnit}" id="courseUnit"><br>
        </div>
        <div class="input-group mb-3 input-group-md">
            <div class="input-group-prepend">
                <label for="department" class="input-group-text">Department: </label>
            </div>
            <select th:field="*{departmentCourse.departmentId}" class="form-control"  id="department">
                <option th:each="department: ${departments}" th:value=${department.departmentId} th:text=${department.departmentName}></option>
            </select>
        </div>
        <div class="input-group mb-3 input-group-md" >
            <input type="submit" class="form-control" style="background-color:#003D7B; color: white; font-weight: bolder" value="Save">
        </div>
    </form>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head lang="en">-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>ReactJS + Spring Data REST</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action = "@{/admin/course/{page}/save/{id}(page = ${page}, id=${id})}"-->
<!--      th:object="${course}" method="post">-->
<!--    <label for="courseCode">Course code: </label>-->
<!--    <input type="text" th:field="*{courseCode}" id="courseCode"><br>-->
<!--    <p th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"></p>-->

<!--    <label for="courseName">Course name: </label>-->
<!--    <input type="text" th:field="*{courseName}" id="courseName"><br>-->
<!--    <p th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></p>-->

<!--    <label for="courseUnit">Number of module unit: </label>-->
<!--    <input type="number" th:field="*{courseUnit}" id="courseUnit"><br>-->

<!--    <label for="department">Department: </label>-->
<!--    <select th:field="*{departmentCourse.departmentId}" id="department">-->
<!--        <option th:each="department: ${departments}" th:value=${department.departmentId} th:text=${department.departmentName}></option>-->
<!--    </select>-->

<!--    <input type="submit" value="Save">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->