<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Security</title>
</head>
<body>
<div th:switch="${pendingCourses}">
    <h2 th:case="null">No pending courses</h2>
    <div th:case="*">
        <p>Your are viewing pending course for semester
            [[${nextSemester.semesterLabel}]]. This semester
            will start from [[${nextSemester.startDate}]], please be reminded to approve or reject
            registration requests before this date. An email will be sent to student to inform them of
            the course registration result.
        </p>
        <table>
            <tr>
                <td>Student name</td>
                <td>Course name</td>
                <td>Approve</td>
                <td>Reject</td>
            </tr>
            <tr th:each="course: ${pendingCourses}">
                <td>
                    <a th:href="@{|/admin/student/${course.studentByCourse.studentId}|}" th:text="${course.studentByCourse}"></a>
                </td>
                <td>[[${course.courseByStudent.courseName}]]</td>
                <td><a th:href=@{|/admin/${page}/course/approve/${course.studentByCourse.studentId}/${nextSemester.semesterId}/${course.courseByStudent.courseId}|}>
                    Approve</a></td>
                <td><a th:href=@{|/admin/${page}/course/reject/${course.studentByCourse.studentId}/${nextSemester.semesterId}/${course.courseByStudent.courseId}|}>
                    Reject</a></td>
            </tr>
        </table>
        <div>
            <div>
                <nav>
                    <ul>
                        <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                            <a class="page-link"
                               th:href="@{|/admin/course/registration/review/page/${pageNumber}|}" th:text=${pageNumber}>1</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>