<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
</head>
<body>
<h4 th:text="${lecturerCourse.courseByLecturer.courseCode}"></h4>
<h4 th:text="${lecturerCourse.courseByLecturer.courseName}"></h4>

<form th:action = "@{/admin/course/detail/{id}/addSemester(id=${lecturerCourse.courseByLecturer.courseId})}"
      th:object="${lecturerCourse}" method="post">

    <label for="semester">Semester: </label>
    <select th:field="*{semesterLecturerCourse.semesterId}" id="semester">
        <option th:each="semester: ${semesters}" th:value=${semester.semesterId} th:text=${semester.semesterLabel}></option>
    </select>

    <label for="lecturer">Lecturer </label>
    <select th:field="*{lecturerByCourse.lecturerId}" id="lecturer">
        <option th:each="lecturer: ${lecturers}" th:value=${lecturer.lecturerId}
                th:text="${lecturer}"></option>
    </select>

    <input type="submit" value="Save">
</form>

</body>
</html>