<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
</head>
<body>
<form th:action = "@{/admin/student/{page}/save/{id}(page = ${page}, id=${id})}"
      th:object="${student}" method="post">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"><br>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

    <label for="lastName">Last name </label>
    <input type="text" th:field="*{lastName}" id="lastName"><br>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

    <label for="middleName">Middle name </label>
    <input type="text" th:field="*{middleName}" id="middleName"><br>

    <label for="gender">Gender </label>
    <select th:field="*{gender}" id="gender">
        <option th:value="'Male'" th:text="Male"></option>
        <option th:value="'Female'" th:text="Female"></option>
    </select>

    <label for="birthDate">Birthdate </label>
    <input type="date" th:field="*{birthDate}" id="birthDate"><br>

    <label for="status">Status </label>
    <select th:field="*{status}" id="status">
        <option th:value="'Enrolling'" th:text="Enrolling"></option>
        <option th:value="'Graduated'" th:text="Graduated"></option>
        <option th:value="'Deferred'" th:text="Deferred"></option>
        <option th:value="'Quit'" th:text="Quit"></option>
    </select>

    <label for="degree">Degree </label>
    <select th:field="*{degree.degreeId}" id="degree">
        <option th:each="degree: ${degrees}" th:value=${degree.degreeId} th:text=${degree.degreeLabel}></option>
    </select>

    <label for="level">Level </label>
    <select th:field="*{level}" id="level">
        <option th:value="'Year 1'" th:text="'Year 1'"></option>
        <option th:value="'Year 2'" th:text="'Year 2'"></option>
        <option th:value="'Year 3'" th:text="'Year 3'"></option>
        <option th:value="'Year 4'" th:text="'Year 4'"></option>
        <option th:value="'Year 5'" th:text="'Year 5'"></option>
        <option th:value="'Year 6'" th:text="'Year 6'"></option>
    </select>

    <label for="semester">Semester </label>
    <select th:field="*{semesterEnrolled.semesterId}" id="semester">
        <option th:each="semester: ${semesters}" th:value=${semester.semesterId} th:text=${semester.semesterLabel}></option>
    </select>
    <p th:if="${#fields.hasErrors('semesterEnrolled')}" th:errors="*{semesterEnrolled}"></p>

    <label for="address">Address </label>
    <input type="text" th:field="*{address}" id="address"><br>

    <label for="mobile">Mobile </label>
    <input type="text" th:field="*{mobile}" id="mobile"><br>
    <p th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></p>

    <label for="email">Email </label>
    <input type="text" th:field="*{email}" id="email"><br>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <label for="GPA">GPA </label>
    <input type="number" step="any" th:field="*{GPA}" id="GPA"><br>
    <input type="submit" value="Save">
</form>

</body>
</html>