<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
</head>
<body>

<div th:switch="${students}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Mobile phone</th>
                <th>Email</th>
                <th>Degree</th>
                <th>Semester</th>
                <th>Level</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:if="${student.middleName} != null">
                    [[${student.lastName} + ' ' + ${student.middleName} + ' ' + ${student.firstName}]]
                </td>
                <td th:if="${student.middleName} == null">[[${student.lastName} + ' ' + ${student.firstName}]]</td>
                <td th:text="${student.gender}"></td>
                <td th:text="${#dates.format(student.birthDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${student.mobile}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.degree.degreeLabel}"></td>
                <td th:text="${student.semesterEnrolled.semesterLabel}"></td>
                <td th:text="${student.level}"></td>
                <td th:text="${student.status}"></td>
                <td><a th:href="@{/admin/student/edit/{id}(id=${student.studentId})}">Edit</a></td>
                <td><a th:href="@{/admin/student/delete/{id}(id=${student.studentId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/admin/student/addStudent">Add a new user</a></p>
</div>

</body>
</html>