<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head lang="en">-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>ReactJS + Spring Data REST</title>-->
<!--</head>-->
<!--<body>-->
<!--<a th:href="@{/login/{id}(id='admin')}">Edit</a>-->
<!--<a th:href="@{/login/{id}(id='lecturer')}">Edit</a>-->
<!--<a th:href="@{/login/{id}(id='student')}">Edit</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Security</title>
</head>
<body>
<h2>Demo Spring Boot - Multiple Form Login</h2>
<a th:href="@{/login_{id}(id='admin')}">admin page</a> <br />
<a th:href="@{/login_{id}(id='lecturer')}">lecturer page</a><br/>
<a th:href="@{/login_{id}(id='student')}">student page</a>

<a th:href="@{resetPassword/student/phungkhanhchi}">reset</a>

</body>
</html>