<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head lang="en">-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>ReactJS + Spring Data REST</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>Login page</p>-->
<!--<p th:text = "${id}"></p>-->
<!--<form name="f" th:action="@{/login_admin}" method="POST">-->
<!--&lt;!&ndash;    /{id}_login(id=${id})&ndash;&gt;-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>User:</td>-->
<!--            <td><input type="text" name="username" value=""></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Password:</td>-->
<!--            <td><input type="password" name="password" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input name="submit" type="submit" value="submit" /></td>-->
<!--        </tr>-->
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
<!--    </table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Security</title>
</head>
<body>
<h2>Form Login</h2>
<h4 th:text="${message}"></h4>
<form name='login-form' th:action="@{/{id}/j_spring_security_login(id=${id})}" method='POST'>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
</form>
</body>
</html>