<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <style>
        #footer{
            text-align: center;
            position: fixed;
            margin-left: 530px;
            bottom: 0px
        }
    </style>
</head>
<body>

<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>We Already Done</p>
        </div>
        <div class="col-md-10">
            <h3>OK !!!!!</h3>
            <p>
                A new password reset link has been sent to your registered email [[${email}]]. Please log in to your email and
                use the link to reset your password within 24 hours. The link will be expired after this period.
            </p>
            <a class="btn btn-danger" th:href="@{/}">Go Back</a>
        </div>
    </div>
</div>

<div id="footer" class="text-center">

</div>
</body>
</html>